/* Full Page Background Receipe */
.jumbotron {
	background-color: #fdf7e1;
	border: 1px solid #f2cb3b;
	h2 {
		font-family: arial;
		color: #c41200;
		font-weight: bold;
		border-radius: 40px;
		}
}

.navbar-default {
	.container-fluid {
		background-color: #c41200;
		.navbar-nav > li > a {
			color: #ffffff;
			font-family: helvetica;
			font-size: 15px;
	
		}

		.navbar-brand {
			color: white;
			font-size: 19px;
			font-weight: bold;
			font-family: arial;
		}
	}
}

.container-fluid {
	padding: 10px 120px;
}